/* header section */
/* hero section */

#hero-section{
    width: 90%;
    margin-left: 5%;
}

h1{
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(196, 37, 37);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
h2{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(196, 37, 37);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
h3{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(87, 85, 85);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.hero-para{
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(87, 85, 85);
    text-align: center;
    margin: 0;
    padding: 0;
}
.film-img{
    width: 100%;
}
.film-role{
    margin-top: 0;
}
.bro-img{
    width: 250px;
    margin-left: 60%;
    padding: 0 5% 0 5%;
}
.hero-images{
    display: flex;
}
.tagline-1{
    text-align: center;
    margin-top: 5%;
}
.para-section{
    background-color: #fcd5ce;
    padding: 5%;
    
}
.bro-img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

/* FEATURE SECTION */
#feature-section{
   background-color: #F7F5F2;
}

/* WHY SECTION */
.why-section{
    display: flex;
    padding: 5%;
}
.f-img{
    width: 100%;
}
.icons{
    width: 20px;
    margin-right: 10px;
    margin-top: 2%;
}
.f-features{
    width: 100%;
    margin-top: 10%;
}

/* GRADUATE SECTION */

#graduate-section{
    background-color: #F0FFC2;
}
.graduate-main{
    display: flex;
}
.grad-elements{
    margin-top: 10%;
}
.grad-items1{
    color: rgb(161, 31, 31);
}
.grad-items2{
    color: rgb(66, 161, 31);
}
.grad-items3{
    color: rgb(19, 63, 196);
}
.grad-items4{
    color: rgb(191, 10, 228);
}
.grad-heading2{
    color: rgb(76, 76, 77);
    width: 70%;
    margin-left: 15%;
}

.grad-items1:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.grad-items2:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.grad-items3:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.grad-items4:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.grad-img:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}